In [5]:
/*here we need to find the spending in each keyword and try to analyse and improve the camapign of our source
and load the file */

val rdd1=sc.textFile("user_2")

rdd1 = user_2 MapPartitionsRDD[5] at textFile at <console>:30

user_2 MapPartitionsRDD[5] at textFile at <console>:30

In [14]:
// we will convert the data into our required schema whee we need only keywords and price
val sort=rdd1.map(x=>(x.split(",")(10).toFloat,x.split(",")(0).toLowerCase))

sort = MapPartitionsRDD[8] at map at <console>:28

MapPartitionsRDD[8] at map at <console>:28

In [15]:
/* now we have to convert the data into
24.06,big data contents), (59.94,spark training with lab access)
to
(24.06,big)
(24.06,data)
(24.06,contents)
therefore as dfor one input we have multiple outputs therefore we will use the flatmap whuich will flatten it out
and that too only in values or use x._2
*/
var words=sort.flatMapValues(x=>x.split(" "))

words = MapPartitionsRDD[9] at flatMapValues at <console>:36

MapPartitionsRDD[9] at flatMapValues at <console>:36

In [16]:
words.collect

Array((24.06,big), (24.06,data), (24.06,contents), (59.94,spark), (59.94,training), (59.94,with), (59.94,lab), (59.94,access), (28.45,online), (28.45,hadoop), (28.45,training), (28.45,institutes), (28.45,in), (28.45,hyderabad), (24.64,coursera), (24.64,data), (24.64,analytics), (34.86,ameerpet), (34.86,big), (34.86,data), (34.86,training), (34.86,cost), (60.94,good), (60.94,comment), (60.94,on), (60.94,big), (60.94,data), (60.94,trainer), (29.21,spark), (29.21,classes), (25.42,data), (25.42,analytics), (25.42,course), (25.42,near), (25.42,me), (29.93,best), (29.93,big), (29.93,data), (29.93,course), (6.95,hadoop), (6.95,spark), (6.95,course), (6.95,in), (6.95,bangalore), (67.82,www), (67.82,intellipaat), (67.82,com), (12.56,python), (12.56,course), (12.56...

In [17]:
/* as we have to use the value by keys therefore we can use the reduceByKey function but for that we have to make the \
key fixed which incase is a number with which we want to perform operation*/
var sorted_data=words.map(x=>(x._2,x._1))

sorted_data = MapPartitionsRDD[10] at map at <console>:29

MapPartitionsRDD[10] at map at <console>:29

In [20]:
// now we have to use the reduceByKey to find the solution
var results=sorted_data.reduceByKey((x,y)=>x+y)

results = ShuffledRDD[11] at reduceByKey at <console>:28

ShuffledRDD[11] at reduceByKey at <console>:28

In [22]:
// the data looks quite hapahazard therefore we will sort the data and use it to get some clutterout
val final_results=results.sortBy(x=>x._2,false)

final_results = MapPartitionsRDD[16] at sortBy at <console>:28

MapPartitionsRDD[16] at sortBy at <console>:28

In [24]:
// we can see the top 5 spending and what are the keywords which are very helpful.
final_results.collect

Array((data,16394.64), (big,12889.278), (in,5774.84), (hadoop,4818.34), (course,4191.5903), (training,4099.3696), (online,3484.4202), (courses,2565.78), (intellipaat,2081.22), (analytics,1458.51), (tutorial,1383.3701), (hyderabad,1118.16), (spark,1078.72), (best,1047.7), (bangalore,1039.27), (and,985.8), (certification,967.44), (for,967.05005), (of,871.42004), (to,848.32996), (with,728.3), (cloudxlab,707.52), (bigdata,694.48), (dataflair,643.9), (chennai,604.04), (on,573.41003), (institute,531.21), (learn,530.38), (analysis,487.8), (india,471.83002), (engineer,457.09), (institutes,437.14005), (apache,422.94), (placement,413.51), (the,395.63), (is,394.02002), (learning,384.4), (fees,382.5), (classes,373.69), (delhi,358.71997), (edureka,351.44), (analyst,34...